<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BRENS_GYM.Properties.Settings.GYMConnectionString"
            connectionString="Data Source=DESKTOP-S1C2ODL\SQLEXPRESS;Initial Catalog=GYM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BRENS_GYM.Properties.Settings.GYMConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\GYM.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>